.footer {
  padding: 285px 0 34px;
  text-align: center;

  @include hundred {
    padding: 100px 0 34px;
  }

  .btn {
    span {
      padding: 17px 17px 15px;
      &::after {
        display: none;
      }
    }

  }

  &__copy {
padding-top: 27px;
font-weight: 300px;
font-size: 12px;
line-height: 14px;
font-weight: 300;
letter-spacing: 1.05px;
opacity: 0.5;
  }
}
