.headline-left {
  position: relative;
  display: inline-block;
  padding-left:  103px;
  font-weight: 400;
  font-size: 22px;
  line-height: 32px;
  letter-spacing: 7.33333px;
  text-transform: uppercase;
  color: #fff;
  opacity: 0.5;

  @include for-desktop {
    padding-left: 90px;
    font-size: 16px;
}

@include mobile {
  letter-spacing: 3px;
}

  &::before {
    content: "";
    position: absolute;
    left: 0;
    top: 50%;
    width: 80px;
    height: 1px;
    background-color: #fff;

    @include for-desktop {
      width: 50px;
}

  }
}
.headline-right {
  position: relative;
  display: inline-block;
  padding-right:  103px;
  font-style: normal;
  font-weight: 400;
  font-size: 22px;
  line-height: 32px;
  letter-spacing: 7.33333px;
  text-transform: uppercase;
  color: #FFFFFF;
  opacity: 0.5;

  @include for-desktop {
    padding-right: 90px;
    font-size: 16px;
}
  @include small-tablet {
    font-size: 16px;
    line-height: 18px;
    padding-right: 65px;
  }

  &::before {
    content: "";
    position: absolute;
    right: 0;
    top: 50%;
    width: 80px;
    height: 1px;
    background-color: #fff;

    @include for-desktop {
      width: 50px;
    }

  }
}

.title {
  span {
    display: inline-block;
    position: relative;
    transform: translateX(-50px);
    font-weight: 800;
    font-size: 200px;
    color: rgba(#fff, 0.02);

    @include small-tablet {
      font-size: 100px;
      padding-bottom: 80px;
      padding-left: 10px;
    }
   }
  h3 {
    position: absolute;
    top: 0;
    right: -5px;
    margin: 0;
    font-size: 80px;
    color: #fff;
    &::after {
      content: "";
      position: absolute;
      top: 0;
      right: 0;
      width: 80px;
      height: 1px;
      background-color: var(--color-green);
    }
  }
}
.subtitle {
  display: inline-block;
  text-align: right;
  &__head {
    padding-right: 10px;
    font-weight: 800;
    font-size: 40px;

    @include mobile {
      font-size: 32px;
      padding-right: 0;
    }


    span {
      font-weight: 100;
    }



  }
}
.descr {
  display: inline-block;
  padding-left: 5px;

  &__head {
    padding-right: 10px;
    font-weight: 800;
    font-size: 40px;

    span {
      font-weight: 100;
    }





  }
}
.btn {
  font-weight: 800;
  font-size: 40px;
  line-height: 36px;

  @include small-tablet {
    font-size: 30px;
  }

  span {
    position: relative;
    margin-left: 19px;
    display: inline-block;
    padding: 17px 57px 15px 17px;
    background-color: var(--color-green);

    &::before {
      content: "";
      position: absolute;
      width: 20px;
      height: 1px;
      top: 50%;
      left: -10px;
      background-color: #fff;
    }
    &::after {
      content: "";
      position: absolute;
      top: 50%;
      right: 17px;
      width: 25px;
      height: 21px;
      transform: translateY(-50%);
      background-image: url(../img/arrows-right.svg);

    }

  }
}

.surf {
  padding: 160px 0 160px 0;

  @include small-tablet {
    padding: 70px 0 50px;
  }
  @include hundred {
    padding: 70px 0 50px;
  }


}
.holder {
  @include small-tablet {
    padding: 70px 0 50px;
  }
  @include hundred {
    padding: 70px 0 50px;
  }
}

.holder,
.travel {
  padding-bottom: 265px;
  margin-bottom: 35px;
  @include small-tablet {
    padding: 70px 0 50px;
  }
}


.quantity {
  display: inline-block;
}

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button
{
  -webkit-appearance: none;
  margin: 0;
}

input[type=number]
{
  -moz-appearance: textfield;
}

.quantity input {
  width: 45px;
  height: 42px;
  //float: left;
  display: block;
  border: none;
  background-color: transparent;
  font-weight: 800;
  font-size: 34px;
  line-height: 36px;
  letter-spacing: 6px;
  text-transform: uppercase;
  color: #fff;
}

.quantity input:focus {
  outline: 0;
}

.quantity-nav {
  float: left;
  position: static;
  height: 42px;
}

.quantity-button {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  width: 20px;
  height: 20px;
  top: 45px;

}

.quantity-button.quantity-up {
  position: absolute;
  right: 0;

  @include hundred {
    right: auto;
    left: 25px;

    //
  }


}

.quantity-button.quantity-down {
  position: absolute;
  right: 25px;
  @include hundred {
    right: auto;

    margin-right: 10px;

  }



}
.star-list {
  li {
    display: inline-block;
    & + li { //from 2
      margin-left: -25px;
    }



  }
}

