.travel {
background-image: url(../img/travel-bg.png);
background-position: bottom right;
background-repeat: no-repeat;



.slider-arrows {
  top: 220px;
  opacity: .5;
}

}
.travel-slider {
  &__head {
    background-repeat: no-repeat;
    background-position: top left;
    min-height: 780px;
  }

  &__descr {
    margin-top: -230px;
    padding-top: 160px;
    padding-left: 132px;
    min-height: 320px;
    background-repeat: no-repeat;
    background-position: right center;

    .descr__head {
      position: relative;
      padding-right: 78px;
      img {
        position: absolute;
        top: 0;
        right: 0;
      }
    }
    img {
      padding-left: 24px;
    }
  }
  &__subtitle {


  }
  &__btn {
    text-align: center;
  }
}
.travel-slider__info {
  display: flex;
  justify-content: space-around;

}
.travel-slider__info-item {
  position: relative;
  margin-bottom: 66px;
  min-height: 200px;

}
.travel-slider__info-subtitle {
  position: absolute;
  top: 97px;
  left: 97px;

  width: 0;
  height: 200px;
  white-space: nowrap;

  font-weight: 400;
  font-size: 18px;
  line-height: 22px;
  letter-spacing: 8px;
  opacity: 0.5;
  transform: rotate(-90deg);
}
.travel-slider__info-title {
  position: relative;
  padding-left: 40px;
  font-weight: 800;
  font-size: 40px;
  line-height: 36px;
  //width: 242px;
  span {
    position: absolute;
    bottom: -8px;
    right: 0;
    font-weight: 400px;
    font-size: 14px;
    line-height: 0;
    letter-spacing: 5.25px;
    opacity: 0.75;
  }

}
.travel-slider-subtitle {
  padding-right: 80px;
  padding-top: 132px;
  text-align: right;
}
