<div class="container-fluid">
  <section class="shop">
    <div class="title">
      <span>shop
        <h3>shop</h3>
      </span>
    </div>
    <div class="shop__slider">
      <div class="shop__slider-item">
        <div class="shop__slider-inner">
          <div class="shop__slider-info">
            <div class="descr">
              <div class="headline-right">style</div>
            <div class="descr__head descr__head-shop">North Nugget TT
              Surfboard
</div>
            </div>
            <div class="shop__slider-price">
              <ul class="shop__star-list list-reset star-list" >
                <li><img src="img/star.svg" alt=""></li>
                <li><img src="img/star.svg" alt=""></li>
                <li><img src="img/star.svg" alt=""></li>
                <li><img src="img/star.svg" alt=""></li>
                <li><img src="img/star.svg" alt=""></li>
              </ul>
              $799 <sup>99</sup>
            </div>
            <div class="shop__slider-btn">
              <a href="#" class="btn">
                Drop<span>in</span>
              </a>
            </div>
          </div>
        <div class="shop__slider-content">
          <div class="surfboard">
            <img src="img/surfboard.png" alt="">
            <div class="surfboard-box  surfboard__position--1">
              <div class="surfboard-box__circle">
<div class="circle-row"></div>
<div class="circle-row"></div>
              </div>
              <div class="surfboard-box__content">
                Double Concave with
Vee Shape low point
              </div>
            </div>
            <div class="surfboard-box surfboard__position--2">
              <div class="surfboard-box__circle">
<div class="circle-row"></div>
<div class="circle-row"></div>
              </div>
              <div class="surfboard-box__content">
                Double Concave with
Vee Shape low point
              </div>
            </div>
            <div class="surfboard-box  surfboard__position--3">
              <div class="surfboard-box__circle">
<div class="circle-row"></div>
<div class="circle-row"></div>
              </div>
              <div class="surfboard-box__content">
                Double Concave with
Vee Shape low point
              </div>
            </div>
          </div>
          <div class="shop__extras">
            <div class="shop__extras-title">
              Extras
            </div>
            <div class="shop__extras-inner">
              <div class="shop__extras-box">
                <div class="shop__extras-img">
                  <img src="img/wax.png" alt="">
                </div>

                <div class="shop__extras-name">Sex Wax</div>
                <div class="shop__extras-price">$24.99</div>
              </div>
              <div class="shop__extras-box">
                <div class="shop__extras-img">
                  <img src="img/bracelet.png" alt="">
                </div>

                <div class="shop__extras-name">Pura Vida</div>
                <div class="shop__extras-price">$27.99</div>
              </div>
            </div>
          </div>

        </div>
      </div>
      </div>
      <div class="shop__slider-item">
        <div class="shop__slider-inner">
          <div class="shop__slider-info">
            <div class="descr">
              <div class="headline-right">style</div>
            <div class="descr__head descr__head-shop">North Nugget TT
              Surfboard
</div>
            </div>
            <div class="shop__slider-price">
              <ul class="shop__star-list list-reset star-list" >
                <li><img src="img/star.svg" alt=""></li>
                <li><img src="img/star.svg" alt=""></li>
                <li><img src="img/star.svg" alt=""></li>
                <li><img src="img/star.svg" alt=""></li>
                <li><img src="img/star.svg" alt=""></li>
              </ul>
              $799 <sup>99</sup>
            </div>
            <div class="shop__slider-btn">
              <a href="#" class="btn">
                Drop<span>in</span>
              </a>
            </div>
          </div>
        <div class="shop__slider-content">
          <div class="surfboard">
            <img src="img/surfboard.png" alt="">
            <div class="surfboard-box  surfboard__position--1">
              <div class="surfboard-box__circle">
<div class="circle-row"></div>
<div class="circle-row"></div>
              </div>
              <div class="surfboard-box__content">
                Double Concave with
Vee Shape low point
              </div>
            </div>
            <div class="surfboard-box surfboard__position--2">
              <div class="surfboard-box__circle">
<div class="circle-row"></div>
<div class="circle-row"></div>
              </div>
              <div class="surfboard-box__content">
                Double Concave with
Vee Shape low point
              </div>
            </div>
            <div class="surfboard-box  surfboard__position--3">
              <div class="surfboard-box__circle">
<div class="circle-row"></div>
<div class="circle-row"></div>
              </div>
              <div class="surfboard-box__content">
                Double Concave with
Vee Shape low point
              </div>
            </div>
          </div>
          <div class="shop__extras">
            <div class="shop__extras-title">
              Extras
            </div>
            <div class="shop__extras-inner">
              <div class="shop__extras-box">
                <div class="shop__extras-img">
                  <img src="img/wax.png" alt="">
                </div>

                <div class="shop__extras-name">Sex Wax</div>
                <div class="shop__extras-price">$24.99</div>
              </div>
              <div class="shop__extras-box">
                <div class="shop__extras-img">
                  <img src="img/bracelet.png" alt="">
                </div>

                <div class="shop__extras-name">Pura Vida</div>
                <div class="shop__extras-price">$27.99</div>
              </div>
            </div>
          </div>

        </div>
      </div>
      </div>
    </div>
  </section>
</div>
