<div class="container-fluid">
  <section class="holder">

    <div class="title">
      <span>sleep
        <h3>sleep</h3>
      </span>
    </div>
    <div class="holder__slider">

      <div class="holder__slider-item holder-slider">
        <div class="holder-slider__head" style="background-image: url(img/holder-slider-bg.png);">
          <div class="holder-slider-subtitle">
            <div class="subtitle">
              <div class="headline-right">Shore</div>
              <div class="subtitle__head">
                Airlie Beach<span>|</span>Australia </div>
            </div>
          </div>
        </div>
        <div class="holder-slider__descr" style="background-image: url(img/avia.png);">
          <div class="descr">
            <div class="headline-right">rating</div>
          <div class="descr__head">Excellent
            <ul class="holder__star-list list-reset" >
              <li><img src="img/star.svg" alt=""></li>
              <li><img src="img/star.svg" alt=""></li>
              <li><img src="img/star.svg" alt=""></li>
              <li><img src="img/star.svg" alt=""></li>
              <li><img src="img/star.svg" alt=""></li>
            </ul>
            </div>
          </div>
        </div>
<div class="holder-slider__info">
  <div class="holder-slider__info-item">
    <div class="holder-slider__info-subtitle">Resort</div>
    <div class="holder-slider__info-title">Auberge<br>
      Australia</div>
    </div>
    <div class="holder-slider__info-item">
      <div class="holder-slider__info-subtitle"># of Nights</div>
      <div class="holder-slider__info-title">
        <div class="quantity">
          <input type="number" min="1" max="9" step="1" value="5">
        </div>Nights</div>
      </div>
      <div class="holder-slider__info-item">
        <div class="holder-slider__info-subtitle"># of Guests</div>
        <div class="holder-slider__info-title"><div class="quantity">
          <input type="number" min="1" max="9" step="1" value="4">
        </div>
        Guests</div>

        </div>
        <div class="holder-slider__info-item">
          <div class="holder-slider__info-subtitle">Pricing</div>
          <div class="holder-slider__info-title">
            <span class="summ">$349</span> USD
            <span class="holder-pricing__span">Per Night</span>
          </div>
          </div>
</div>
<div class="holder-slider__btn">
  <a href="#" class="btn">
    book <span>flight</span>
  </a>
</div>

      </div>

    </div>


</section>
</div>
